### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/src/test/resources/test1/Directory1/
/src/test/resources/test1/Directory3/
/src/test/resources/test2/Directory1/
/src/test/resources/test2/Directory3/
/src/test/resources/test3/Directory1/
/src/test/resources/test3/Directory3/
### VS Code ###
.vscode/

### Mac OS ###
.DS_Store